header {
	text-align: center;
	background: #e1b80d;
}

body {
	margin: auto;
	background: #eae2d6;
}
nav {
	background: #867666;
}
nav ul a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22.5px;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
}

.recipe {
	color: black;
	font-family: 'Ubuntu', sans-serif;
}

h5 {
	font-family: 'Ubuntu', sans-serif;
}

.avatar {
	border-radius: 50%;
	width: 70px;
}
div .comment {
	background: white;
	padding: 5px;
	margin: 5px;
}

div .comment .img-name {
	display: inline-block;
	padding: 10px;
}
li a {
	color: black;
}
p {
	font-size: 15px;
}

footer {
	color: black;
	background: #e1b80d;
	margin-top: 30px;
	padding: 11px;
}
